<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">



<bean id="simpleTyre" class="com.training.springclasses.CarTyre.Tyre">
<property name ="modelName" value= "Ordinary"/> 		
</bean>

<bean id="MichelinTyre" class="com.training.springclasses.CarTyre.Michelin">
<property name ="modelName" value= "Michelin"/>
</bean>

<bean id="Engine" class="com.training.springclasses.CarTyre.Engine"></bean>

<bean id="SimpleCar" class="com.training.springclasses.CarTyre.Car">
	<constructor-arg ref="simpleTyre" ></constructor-arg>	
	<property name="carColor" value ="White"></property>
</bean>


<bean id ="MichelinCar" class="com.training.springclasses.CarTyre.Car">
	<constructor-arg ref ="MichelinTyre"></constructor-arg>
	
	<property name ="carColor" value ="Black"></property>

</bean>


<aop:config>
	<aop:aspect ref="Engine">
		<aop:pointcut expression="execution(* *.drive(..))" id="enginePointCut"/>
		<aop:before pointcut-ref ="enginePointCut" method="startEngine()"/>
		<aop:after pointcut-ref ="enginePointCut" method="stopEngine()"/>
	</aop:aspect>


</aop:config>

</beans>
